input{
	cursor: pointer;
}

.submitButton:hover {
background: #c0143e;
}

#content .send-contact-request{
height: auto !important;
}

.dropdown-label{
	color: #7b7b7b !important;
	font-size: 0.875rem;
	padding: 0 0 10px 0;
}

.productSelectField{
	padding: 5px !important;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	color: #a9a9a9;
	border-color: #a9a9a9;
}

#content #contactRequestModal #contactForm .row .button{
	margin-top: 35px !important;
}

.dropdown-column{
	height: auto !important;
}

#content #noBannerTemplate h3, #contactForm h3{
	font-size: 15px !important;
	padding: 23px 0 5px 0 !important;	
	color: #00a5d9 !important;
}

.thank-you-paragraph{
	color: #7b7b7b !important;
}

#content #myModal h3{
	height:36px;
}
#content #contactRequestModal input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
    background-color: white;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-family: inherit;
    font-size: 0.875rem;
    height: 2.3125rem;
    margin: 0 0 1rem;
    padding: 0.5rem;
    transition: box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s;
    width: 100%;
} 
#content #contactRequestModal2 input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
    background-color: white;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-family: inherit;
    font-size: 0.875rem;
    height: 2.3125rem;
    margin: 0 0 1rem;
    padding: 0.5rem;
    transition: box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s;
    width: 100%;
} 
#content #contactRequestModal3 input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
    background-color: white;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-family: inherit;
    font-size: 0.875rem;
    height: 2.3125rem;
    margin: 0 0 1rem;
    padding: 0.5rem;
    transition: box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s;
    width: 100%;
} 
#content #contactRequestModal4 input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
    background-color: white;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-family: inherit;
    font-size: 0.875rem;
    height: 2.3125rem;
    margin: 0 0 1rem;
    padding: 0.5rem;
    transition: box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s;
    width: 100%;
} 
#content #contactRequestModal5 input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
    background-color: white;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-family: inherit;
    font-size: 0.875rem;
    height: 2.3125rem;
    margin: 0 0 1rem;
    padding: 0.5rem;
    transition: box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s;
    width: 100%;
} 
#resourceRequestModal input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
    background-color: white;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-family: inherit;
    font-size: 0.875rem;
    height: 37px;
    margin: 0 0 12px;
    padding: 0.5rem;
    transition: box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s;
    width: 100%;
} 
#contactForm form .productLabelGroup label {
    display: none;
}
#resourceRequestModal form .productLabelGroup label {
    font-weight: bolder; float: left; display: none;
}
#content .send-contact-request{
	height: 380px;
}
#resourceRequestModal .large-6{
	float:left ; width: 270px; margin-right: 10px; height: 57px; height: 57px\9;
}
#resourceRequestModal .large-12{
	margin-right:10px;
}
#resourceRequestModal.large-6 .productInputGroup input{
	height:29px\9;
}
#resourceRequestModal .row .large-full{
	height: 130px;width: 550px;float:left;
}
#resourceRequestModal .large-full .fullWidthGroup{
	width: 545px;height: 100px;
}

#resourceRequestModal span{
	background:none !important;
}

#content #contactRequestModal #contactForm .row .large-6{
	float:left ; width: 270px; margin-right: 10px; height: 57px; height: 57px\9;
}
#content #contactRequestModal #contactForm .row .large-6 .productInputGroup input{
	height:29px\9;
}
#content #contactRequestModal #contactForm .row .large-full{
	height: 130px;width: 550px;float:left;
}
#content #contactRequestModal #contactForm .row .large-full .fullWidthGroup{
	width: 545px;height: 100px;
}
#content #contactRequestModal #contactForm .submitButton{
    width: 50% !important;
	background: #ce284e;
	margin-left: 115px !important;
	text-align: center !important;
	color: #FFF !important;
}
#content #contactRequestModal #contactForm span{
	background:none !important;
}

a.message-link{
	color: #FFF !important;
}

.message-link:hover{
	text-decoration: none !important;
}

#content #contactRequestModal #contactForm .row .button{
	height: 40px;
	width: 270px;
	float:left;
	font-weight:bold;
	border-color: inherit;
	border-radius: 5px; /* IE10 Consumer Preview */
	border-style: none;
	border-width: medium;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	padding: 1px 10px;
	position: relative;
	color: #ffffff !important;
	font-size: 13px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: #eb1d50 !important;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eb1d50), to(#ca1a45)) !important;
    background: -webkit-linear-gradient(#eb1d50, #ca1a45) !important;
    background: -moz-linear-gradient(#eb1d50, #ca1a45) !important;
    background: -ms-linear-gradient(#eb1d50, #ca1a45) !important;
    background: -o-linear-gradient(#eb1d50, #ca1a45) !important;
    background: linear-gradient(#eb1d50, #ca1a45) !important;
    -pie-background: linear-gradient(#eb1d50, #ca1a45) !important;
    behavior: url(/site-styles/marketing-services/PIE.htc) !important;
}

#content #contactRequestModal #contactForm .row .button .inner{
	line-height:38px; height:38px;color:white !important; display: block; font-size: 13px !important; padding-right: 25px; background: url(/site-images/economics/red-button-arrow-small.png) right no-repeat !important;
}

#content #contactRequestModal2 #contactForm .row .large-6{
	float:left ; width: 270px; margin-right: 10px; height: 57px; height: 57px\9;
}
#content #contactRequestModal2 #contactForm .row .large-6 .productInputGroup input{
	height:29px\9;
}
#content #contactRequestModal2 #contactForm .row .large-full{
	height: 130px;width: 550px;float:left;
}
#content #contactRequestModal2 #contactForm .row .large-full .fullWidthGroup{
	width: 545px;height: 100px;
}
#content #contactRequestModal2 #contactForm .submitButton{
	background:none !important;
}
#content #contactRequestModal2 #contactForm span{
	background:none !important;
}

#content #contactRequestModal2 #contactForm .row .button{
	height: 40px;
	width: 270px;
	float:left;
	font-weight:bold;
	border-color: inherit;
	border-radius: 5px; /* IE10 Consumer Preview */
	border-style: none;
	border-width: medium;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	padding: 1px 10px;
	position: relative;
	color: #ffffff !important;
	font-size: 13px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: #eb1d50 !important;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eb1d50), to(#ca1a45)) !important;
    background: -webkit-linear-gradient(#eb1d50, #ca1a45) !important;
    background: -moz-linear-gradient(#eb1d50, #ca1a45) !important;
    background: -ms-linear-gradient(#eb1d50, #ca1a45) !important;
    background: -o-linear-gradient(#eb1d50, #ca1a45) !important;
    background: linear-gradient(#eb1d50, #ca1a45) !important;
    -pie-background: linear-gradient(#eb1d50, #ca1a45) !important;
    behavior: url(/site-styles/marketing-services/PIE.htc) !important;
}

#content #contactRequestModal2 #contactForm .row .button .inner{
	line-height:38px; height:38px;color:white !important; display: block; font-size: 13px !important; padding-right: 25px; background: url(/site-images/economics/red-button-arrow-small.png) right no-repeat !important;
}


#content #contactRequestModal3 #contactForm .row .large-6{
	float:left ; width: 270px; margin-right: 10px; height: 57px; height: 57px\9;
}
#content #contactRequestModal3 #contactForm .row .large-6 .productInputGroup input{
	height:29px\9;
}
#content #contactRequestModal3 #contactForm .row .large-full{
	height: 130px;width: 550px;float:left;
}
#content #contactRequestModal3 #contactForm .row .large-full .fullWidthGroup{
	width: 545px;height: 100px;
}
#content #contactRequestModal3 #contactForm .submitButton{
	background:none !important;
}
#content #contactRequestModal3 #contactForm span{
	background:none !important;
}

#content #contactRequestModal3 #contactForm .row .button{
	height: 40px;
	width: 270px;
	float:left;
	font-weight:bold;
	border-color: inherit;
	border-radius: 5px; /* IE10 Consumer Preview */
	border-style: none;
	border-width: medium;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	padding: 1px 10px;
	position: relative;
	color: #ffffff !important;
	font-size: 13px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: #eb1d50 !important;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eb1d50), to(#ca1a45)) !important;
    background: -webkit-linear-gradient(#eb1d50, #ca1a45) !important;
    background: -moz-linear-gradient(#eb1d50, #ca1a45) !important;
    background: -ms-linear-gradient(#eb1d50, #ca1a45) !important;
    background: -o-linear-gradient(#eb1d50, #ca1a45) !important;
    background: linear-gradient(#eb1d50, #ca1a45) !important;
    -pie-background: linear-gradient(#eb1d50, #ca1a45) !important;
    behavior: url(/site-styles/marketing-services/PIE.htc) !important;
}

#content #contactRequestModal3 #contactForm .row .button .inner{
	line-height:38px; height:38px;color:white !important; display: block; font-size: 13px !important; padding-right: 25px; background: url(/site-images/economics/red-button-arrow-small.png) right no-repeat !important;
}

#content #contactRequestModal4 #contactForm .row .large-6{
	float:left ; width: 270px; margin-right: 10px; height: 57px; height: 57px\9;
}
#content #contactRequestModal4 #contactForm .row .large-6 .productInputGroup input{
	height:29px\9;
}
#content #contactRequestModal4 #contactForm .row .large-full{
	height: 130px;width: 550px;float:left;
}
#content #contactRequestModal4 #contactForm .row .large-full .fullWidthGroup{
	width: 545px;height: 100px;
}
#content #contactRequestModal4 #contactForm .submitButton{
	background:none !important;
}
#content #contactRequestModal4 #contactForm span{
	background:none !important;
}

#content #contactRequestModal4 #contactForm .row .button{
	height: 40px;
	width: 270px;
	float:left;
	font-weight:bold;
	border-color: inherit;
	border-radius: 5px; /* IE10 Consumer Preview */
	border-style: none;
	border-width: medium;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	padding: 1px 10px;
	position: relative;
	color: #ffffff !important;
	font-size: 13px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: #eb1d50 !important;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eb1d50), to(#ca1a45)) !important;
    background: -webkit-linear-gradient(#eb1d50, #ca1a45) !important;
    background: -moz-linear-gradient(#eb1d50, #ca1a45) !important;
    background: -ms-linear-gradient(#eb1d50, #ca1a45) !important;
    background: -o-linear-gradient(#eb1d50, #ca1a45) !important;
    background: linear-gradient(#eb1d50, #ca1a45) !important;
    -pie-background: linear-gradient(#eb1d50, #ca1a45) !important;
    behavior: url(/site-styles/marketing-services/PIE.htc) !important;
}

#content #contactRequestModal4 #contactForm .row .button .inner{
	line-height:38px; height:38px;color:white !important; display: block; font-size: 13px !important; padding-right: 25px; background: url(/site-images/economics/red-button-arrow-small.png) right no-repeat !important;
}


#content #contactRequestModal5 #contactForm .row .large-6{
	float:left ; width: 270px; margin-right: 10px; height: 57px; height: 57px\9;
}
#content #contactRequestModal5 #contactForm .row .large-6 .productInputGroup input{
	height:29px\9;
}
#content #contactRequestModal5 #contactForm .row .large-full{
	height: 130px;width: 550px;float:left;
}
#content #contactRequestModal5 #contactForm .row .large-full .fullWidthGroup{
	width: 545px;height: 100px;
}
#content #contactRequestModal5 #contactForm .submitButton{
	background:none !important;
}
#content #contactRequestModal5 #contactForm span{
	background:none !important;
}

#content #contactRequestModal5 #contactForm .row .button{
	height: 40px;
	width: 270px;
	float:left;
	font-weight:bold;
	border-color: inherit;
	border-radius: 5px; /* IE10 Consumer Preview */
	border-style: none;
	border-width: medium;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	padding: 1px 10px;
	position: relative;
	color: #ffffff !important;
	font-size: 13px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: #eb1d50 !important;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eb1d50), to(#ca1a45)) !important;
    background: -webkit-linear-gradient(#eb1d50, #ca1a45) !important;
    background: -moz-linear-gradient(#eb1d50, #ca1a45) !important;
    background: -ms-linear-gradient(#eb1d50, #ca1a45) !important;
    background: -o-linear-gradient(#eb1d50, #ca1a45) !important;
    background: linear-gradient(#eb1d50, #ca1a45) !important;
    -pie-background: linear-gradient(#eb1d50, #ca1a45) !important;
    behavior: url(/site-styles/marketing-services/PIE.htc) !important;
}

#content #contactRequestModal5 #contactForm .row .button .inner{
	line-height:38px; height:38px;color:white !important; display: block; font-size: 13px !important; padding-right: 25px; background: url(/site-images/economics/red-button-arrow-small.png) right no-repeat !important;
}

.column-1{
	float:left;
	width:50%;
}
.column-2{
	float: left;
	width:50%;
}

.contact-title{
	font-size:18px !important;
	margin: 0 0 0 0 !important;
	color: #0072c6 !important;
}

.reveal-modal-bg {
	z-index: 9000;
}

.reveal-modal {
	z-index: 9100;	
}

#content #contactRequestModal #contactForm .row .large-6 .productInputGroup input {
    width: 86% !important;
}

.reveal-modal{
	background: #eee;
}

.reveal-modal .close-reveal-modal:hover{
	text-decoration: none;
}

#resourceRequestModal input[type="text"]{
	width: 85% !important;
}

#signup{
	margin-top: 25px !important;
}